/*Universal Rules set*/
html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: black;
}

#greenLink{
    font-size: 1rem;
    color: aquamarine;
   padding: 1rem 0 1rem 0;
}

/*header*/

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header h1 {
    font-weight: normal;
    font-size: 3.125rem;
    color: white;
    text-align: center;
    padding-top: 1.5rem;
}

.header h3{
    padding-top: 3rem;
}

/*Personal travel Guide section */

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    padding-top: 2rem;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.main h1 {
    font-size: 2.625rem;
    font-weight: 300;
    padding-bottom: 1rem;
}

.main p {
    color: gray;
    font-size: 1.3rem;
    padding-bottom: 1rem;

}

.camp img{
    width: 80%;

}

/*Footer*/

.footer {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.footer h1 {
    font-weight: 300;
    font-size: 2.625rem;
    padding: 1rem;
    text-align: center;
}

.copy{
    
    color: gray;
    padding: 1rem;
    text-align: right;
}